.container {
    padding: 1%;
}

.board {
    background: linear-gradient(160deg, #262728 0%, #666970 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.game-card {
    background: #c0c3c6;
    height: 125px;
    width: 125px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
}

.cards {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
}
