.container {
    padding: 1%;
}

.board {
    background: linear-gradient(160deg, #262728 0%, #666970 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);

}

.game-card {
    height: 125px;
    width: 125px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
    padding: 6.2%;
}

.hidden {
    background: #c0c3c6;
}

.revealed {
    background: #4b69c1;
}

.true {
    background: #51cc8a;
}

.false {
    background: #ad1b1b;
}

.cards {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
}

.card-icon {
}
