* {
    color: #c0c3c6;
}

.container {
    padding: 1%;
}

.info {
    padding-left: 31%
}

.board {
    background: linear-gradient(160deg, #262728 0%, #666970 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);

}
body {
    background: linear-gradient(160deg, #262728 0%, #666970 100%);
}
.game-card {
    height: 125px;
    width: 125px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
    padding: 3.5%;
}

.fa-pied-piper-alt{
    padding: 3.1%;
}

.hidden {
    background: #c0c3c6;
}

.revealed {
    background: #4b69c1;
}

.true {
    background: #51cc8a;
}

.false {
    background: #ad1b1b;
}

.cards {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .cards {
        padding-left: 21%;
    }

    .info {
        padding-left: 26.96%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .cards {
        padding-left: 13.5%;
    }

    .info {
        padding-left: 29%;
        font-size: 1.2em;
    }

    .stars {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 767px){
    .cards {
        padding-left: 11.2%;
    }

    .game-card {
        width: 100px;
        height: 100px;
    }

    .info {
        font-weight: 700;
        padding-left: 29%;
        font-size: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
}

 @media screen and (max-width: 575px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .info {
        font-weight: 100;
        font-size: 1em;
        padding-left: 40%;
    }
} 


@media screen and (max-width: 502px){
    .cards {
        padding-left: 17.2%;
    }

    .game-card {
        width: 75px;
        height: 75px;
        padding: 1.7%;
    }

    .fa-pied-piper-alt{
        padding: 1.1%;
    }

    .modal-content {
        font-size: 0.7em;
    }

    .congrats {
        font-size: 1.7em;
    }

    .won {
        font-size: 1.5em;
    }
} 

@media screen and (max-width: 402px){
    .cards {
        padding-left: 22%;
    }

    .game-card {
        width: 50px;
        height: 50px;
    }
    .fa-2x  {
        font-size: 1.5em;
    }
    .fa-4x{
        font-size: 2.4em;
    }
} 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    widows: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
    0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: #ccc;
    float: right;
    font-size: 30px;
    padding-left: 95%;
}

.close-btn:hover, .close-btn:focus {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.fa-check-circle {
    font-size: 500%;
}

.green-center {
    text-align: center;
    color: #28a745;
}